--allman false
--indent 4
--exclude Pods,Generated

--disable andOperator
--disable redundantReturn
--disable wrapMultilineStatementBraces
--disable organizeDeclarations
--disable redundantSelf

--enable markTypes

--funcattributes "prev-line"
--maxwidth 160